% base_url = data.get("base_url")
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US">
    <head>
        <!-- this is test load css under default template-->
        <link rel="stylesheet" type="text/css" href="/views/default/css/style.css" />
        <!-- this is test load js under default template-->
        <script language="javascript" type="text/javascript" src="/views/default/js/default.js"></script>
        
        <!-- this is test load css under statics folder-->
        <link rel="stylesheet" type="text/css" href="/statics/css/style.css" />
        <!-- this is test load js under statics folder-->
        <script language="javascript" type="text/javascript" src="/statics/js/default.js"></script>
    </head>
    
    <body>
    